{% extends 'base.html' %}
<!--/ Intro Single star /-->
{% block content %}
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">{{ agent.name }}</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Главная</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/agents/">Агенты</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ agent.name }}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->

<!--/ Agent Single Star /-->
<section class="agent-single">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="agent-avatar-box">
                            <img src="{{ agent.photo.url }}" alt="" class="agent-avatar img-fluid">
                        </div>
                    </div>
                    <div class="col-md-5 section-md-t3">
                        <div class="agent-info-box">
                            <div class="agent-title">
                                <div class="title-box-d">
                                    <h3 class="title-d">{{ agent.name }}</h3>
                                </div>
                            </div>
                            <div class="agent-content mb-3">
                                <p class="content-d color-text-a">
                                    {{ agent.description }}
                                </p>
                                <div class="info-agents color-a">
                                    <p>
                                        <strong>Телефон: </strong>
                                        <span class="color-text-a"><a
                                                href="tel:+7{{ agent.phone }}">+7{{ agent.phone }}</a></span>
                                    </p>
                                    <p>
                                        <strong>Email: </strong>
                                        <span class="color-text-a"><a
                                                href="mailto:{{ agent.email }}">{{ agent.email }}</a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="socials-footer">
                                <ul class="list-inline">
                                    {% if agent.facebook %}
                                    <li class="list-inline-item">
                                        <a href="{{ agent.facebook }}" class="link-one">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if agent.twitter %}
                                    <li class="list-inline-item">
                                        <a href="{{ agent.twitter }}" class="link-one">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if agent.instagram %}
                                    <li class="list-inline-item">
                                        <a href="{{ agent.instagram }}" class="link-one">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 section-t8">
                <div class="title-box-d">
                    <h3 class="title-d">Мои объекты ({{ agent.property_agent.count }})</h3>
                </div>
            </div>
            <div class="row property-grid grid">

                <div class="col-sm-12">
                    <div class="grid-option">
                        <form>
                            <select class="custom-select">
                                <option selected>All</option>
                                <option value="1">New to Old</option>
                                <option value="2">For Rent</option>
                                <option value="3">For Sale</option>
                            </select>
                        </form>
                    </div>
                </div>
                {% for property_agent in agent.property_agent.all %}
                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="{{ property_agent.photo_preview.url }}" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="{{ property_agent.get_absolute_url }}">{{ property_agent.name }}</a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">цена | {{ property_agent.price }}₽</span>
                                    </div>
                                    <a href="{{ property_agent.get_absolute_url }}" class="link-a">Подробнее
                                        <span class="ion-ios-arrow-forward"></span>
                                    </a>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">Площадь</h4>
                                            <span>{{ property_agent.area }}м
                          <sup>2</sup>
                        </span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Комнаты</h4>
                                            <span>{{ property_agent.room }}</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Ванные</h4>
                                            <span>{{ property_agent.baths }}</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Гаражи</h4>
                                            <span>{{ property_agent.garage }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<!--/ Agent Single End /-->
{% endblock content %}