<!DOCTYPE html>
{% load static %}
{% load meta_tags %}
{% load solo_tags %}
<html lang="ru">
<head>
    {% block meta_tags %}
    {% include_meta_tags %}
    {% endblock %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
      Theme Name: EstateAgency
      Theme URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->

</head>

<body>
<div class="click-closed"></div>
<!--/ Form Search Star /-->
<div class="box-collapse">
    <div class="title-box-d">
        <h3 class="title-d">Поиск объекта</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
        <form class="form-a" action="{% url 'search' %}" method="get">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="form-group">
                        <label for="Type">Ключевые слова</label>
                        <input type="search" class="form-control form-control-lg form-control-a" placeholder="Введите название…" name="q">
                    </div>
                </div>


                <!--<div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="price">Min Price</label>
                        <select class="form-control form-control-lg form-control-a" id="price">
                            <option>Unlimite</option>
                            <option>$50,000</option>
                            <option>$100,000</option>
                            <option>$150,000</option>
                            <option>$200,000</option>
                        </select>
                    </div>
                </div>-->
                <div class="col-md-12">
                    <button type="submit" class="btn btn-b">Искать</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--/ Form Search End /-->

<!--/ Nav Star /-->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a class="navbar-brand text-brand" href="/">Estate<span class="color-b">Agency</span></a>
        <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none"
                data-toggle="collapse"
                data-target="#navbarTogglerDemo01" aria-expanded="false">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
            <ul class="navbar-nav">
                {% load menubuilder %}{% menu headermenu %}
    {% for item in menuitems %}<li class="nav-item"><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='nav-link active' {% else %} class='nav-link' {% endif %}>{{ item.title }}</a></li>
    {% endfor %}

            </ul>
        </div>
        <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
                data-target="#navbarTogglerDemo01" aria-expanded="false">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </div>
</nav>
<!--/ Nav End /-->

{% block content %}

{% endblock content %}
<!-- /paginator/-->

<div class="row">
    <div class="col-sm-12">
        {% if page_obj.has_other_pages %}
        <nav class="pagination-a">
            <ul class="pagination justify-content-end">
                {% if page_obj.has_previous %}
                <li class="page-item disabled">
                    <a class="page-link" href="?{{ q }}&page={{ page_obj.previous_page_number }}" tabindex="-1">
                        <span class="ion-ios-arrow-back"></span>
                    </a>
                </li>
                {% endif %}
                {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                <li class="page-item active">
                    <a class="page-link" href="?{{ q }}&page={{ p }}">{{ p }}</a>
                </li>
                {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:2 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item next">
                    <a class="page-link" href="?{{ q }}&page={{ page_obj.next_page_number }}">
                        <span class="ion-ios-arrow-forward"></span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
</div>

<!--/ end paginator /-->
<!--/ footer Star /-->
<section class="section-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="widget-a">
                    <div class="w-header-a">
                        {% get_solo 'estate_index.Index' as index %}
                        <h3 class="w-title-a text-brand">{{ index.title }}</h3>
                    </div>
                    <div class="w-body-a">
                        <p class="w-text-a color-text-a">
                            {{ index.descr|safe }}
                        </p>
                    </div>
                    <div class="w-footer-a">
                        <ul class="list-unstyled">
                            <li class="color-a">
                                <span class="color-text-a">Телефон:</span> <a href="tel:+7{{ index.phone }}">+7{{ index.phone }}</a>
                            </li>
                            <li class="color-a">
                                <span class="color-text-a">Email:</span> <a href="mailto:{{ index.email }}">{{ index.email }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 section-md-t3">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">The Company</h3>
                    </div>
                    <div class="w-body-a">
                        <div class="w-body-a">
                            <ul class="list-unstyled">
                                <li class="item-list-a">
                                    <i class="fa fa-angle-right"></i> <a href="#">Site Map</a>
                                </li>
                                <li class="item-list-a">
                                    <i class="fa fa-angle-right"></i> <a href="#">Legal</a>
                                </li>
                                <li class="item-list-a">
                                    <i class="fa fa-angle-right"></i> <a href="#">Agent Admin</a>
                                </li>
                                <li class="item-list-a">
                                    <i class="fa fa-angle-right"></i> <a href="#">Careers</a>
                                </li>
                                <li class="item-list-a">
                                    <i class="fa fa-angle-right"></i> <a href="#">Affiliate</a>
                                </li>
                                <li class="item-list-a">
                                    <i class="fa fa-angle-right"></i> <a href="#">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 section-md-t3">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">Сайты партнёров</h3>
                    </div>
                    <div class="w-body-a">
                        <ul class="list-unstyled">
                            {% for site in index.sites.all %}
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="{{ site.url.get_absolute_url }}">{{ site.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="nav-footer">
                    <ul class="list-inline">

                             {% load menubuilder %}{% menu headermenu %}
    {% for item in menuitems %}<li class="list-inline-item"><a href="{{ item.url }}" title="{{ item.title|escape }}">{{ item.title }}</a></li>
    {% endfor %}

                    </ul>
                </nav>
                <div class="socials-a">
                                <ul class="list-inline">
                                    {% if index.facebook %}
                                    <li class="list-inline-item">
                                        <a href="{{ property.agent.facebook }}">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if index.twitter %}
                                    <li class="list-inline-item">
                                        <a href="{{ property.agent.twitter }}">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if index.instagram %}
                                    <li class="list-inline-item">
                                        <a href="{{ property.agent.instagram }}">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                <div class="copyright-footer">
                    <p class="copyright color-text-a">
                        &copy; {{ index.copywrite }}
                    </p>
                </div>
                <div class="credits">
                    <!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
                    -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--/ Footer End /-->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'lib/popper/popper.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/scrollreveal/scrollreveal.min.js' %}"></script>
<!-- Contact Form JavaScript File -->
<script src="{% static 'contactform/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js' %}"></script>
